<%- layout('listings/layouts/boilerplate') %>

<div class="row mt-3">
  <div class="col-6 offset-3">
    <h1 class="mt-4">Sign Up</h1>
    <br>
    <form action="/signup" method="POST" class="needs-validation" novalidate>
      <div class="form-group">
        <label for="email">Email</label>
        <br>
        <input type="email" class="form-control" id="email" name="email" required>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Please enter a unique email id.
        </div>
        <br>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <br>
        <input type="text" class="form-control" id="username" name="username" required>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Please enter a valid username.
        </div>
        <br>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <br>
        <input type="password" class="form-control" id="password" name="password" required>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Please enter a valid password.
        </div>
        <br>
      </div>
      <button type="submit" class="btn btn-dark">Sign Up</button>
      <br><br>
      <p>Already a registered user? <a href="/login" class="btn btn-link">Login</a></p>
    </form>
  </div>
</div>