body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .container{
      flex: 1;
  }
  
  .navbar{
      height: 5rem;
      background-color: #f8f9fa;
  }
  
  .fa-compass{
      font-size: 2rem;
      color: #fe424d;
  }
  
  .nav-link{
      color: #222222 !important;
      font-size: 1.5rem;
  }
  
  .f-info-links a{
      font-size: 1.5rem;
      color: #222222;
      text-decoration: none;
  }
  
  .f-info-links a:hover{
      font-size: 1.5rem;
      color: #fe424d;
      text-decoration: none;
  }
  
  .f-info-links, .f-info-socials, .f-info-brand {
      font-size: 1.5rem;
      width: 100%;
  }
  
  .f-info-socials i{
      font-size: 1.5rem;
      margin-right: 1rem;
  }
  
  .f-info {
      height: 8rem;
      background-color: #ebebeb ;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      text-align: center;
  }
  
  .card{
      border: none !important;
      margin-bottom: 2rem;
  }
  
  .card-img-top{
      border-radius: 1rem !important;
      width: 100% !important;
      height: 20rem;
      object-fit: cover !important;
  }
  
  .card-body{
      padding: 1rem !important;
  }
  
  .card-text{
      font-weight: 400 !important;
  }
  
  .cardlinks{
      text-decoration: none;
  }
  
  .card-img-overlay{
      opacity: 0;
  }
  
  .card-img-overlay:hover{
      opacity: 1;
  }
  
  .add-btn{
      color: white !important;
      background-color: #ad0f19 !important;
      border: none !important;
  }
  
  .show-img{
      width: 100%;
      height: 30vh;
      object-fit: cover;
  }
  
  .no-reviews-message {
      text-align: center;
      margin-top: 20px;
      animation: fadeIn 2s ease-in-out infinite;
    }
    
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }

#map { height:400px; width:105vh; }

    