<!-- Flash messages -->
<div class="rol mt-3">
  <div class="col-6 offset-3">
<% if (success && success.length > 0) { %>
  <% success.forEach(function(msg) { %>
    <div class="alert alert-success alert-dismissible fade show">
      <%= msg %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% }); %>
<% } %>

<% if (error && error.length > 0) { %>
  <% error.forEach(function(msg) { %>
    <div class="alert alert-danger alert-dismissible fade show">
      <%= msg %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% }); %>
<% } %>
  </div>
</div>